.header {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  background-color: darkgreen;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.textes {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.nom {
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 2rem;
}

.nous {
  color: darkgoldenrod;
  font-size: 12px;
  font-weight: 600;
}

img:hover {
  cursor: pointer;
}

.edit:hover {
  opacity: 75%;
}
