<div class="menu">
  <div class="section" *ngFor="let section of menu?.sections">
    <div class="section-titre">{{ section.titre }}</div>

    <div class="sous-section" *ngFor="let sousSection of section.sousSections">
      <div class="sous-section-titre">{{ sousSection.titre }}</div>
      <div
        class="consommation"
        *ngFor="let consommation of sousSection.consommations"
      >
        <div
          *ngTemplateOutlet="contenuConsommation; context: { consommation }"
        ></div>
      </div>
    </div>
    <div
      class="consommation"
      *ngFor="let consommation of section.consommations"
    >
      <div
        *ngTemplateOutlet="contenuConsommation; context: { consommation }"
      ></div>
    </div>
  </div>
</div>

<ng-template #contenuConsommation let-consommation="consommation">
  <div class="contenu">
    <div class="presentation">
      <div class="photo"></div>
      <div class="textes">
        <div class="titre">
          {{ consommation.titre }}
        </div>
        <div class="description">
          {{ consommation.description }}
        </div>
      </div>
    </div>
    <div class="prix">
      {{ consommation.prix }}
    </div>
  </div>
</ng-template>
