<app-header></app-header>
<div class="accueil">
  <div *ngIf="entrepriseConnectee" class="menus"></div>
  <div class="instructions">
    <div class="general">
      <p>
        Avec <span class="bold-gold">Reeb</span>, vous pouvez créer votre
        <span class="bold-gold">menu digital</span> facilement pour un coût
        maitrisé.
      </p>
      <p>
        Pour cela rien de plus <span class="bold-gold">simple</span>, suivez les
        étapes suivantes :
      </p>
    </div>
    <div class="etapes">
      <div class="etape">
        <img src="assets/compte.svg" />
        <div class="etape-texte">
          <span class="etape-titre">Créez votre compte</span>
          <p class="etape-detail">
            En seulement 30 secondes, vous pouvez remplir le formulaire de
            création de compte : un mail et un mot de passe robuste suffisent.
          </p>
        </div>
      </div>
      <div class="etape">
        <img src="assets/menu.svg" />
        <div class="etape-texte">
          <span class="etape-titre">Alimentez votre menu</span>
          <p class="etape-detail">
            Avec l'interface ergonomique de Reeb, il suffit de quelques minutes
            pour que votre menu soit réalisé, à vous de décider ce qu'il
            contient.
          </p>
        </div>
      </div>
      <div class="etape">
        <img src="assets/abonnement.svg" />
        <div class="etape-texte">
          <span class="etape-titre">Abonnez-vous</span>
          <p class="etape-detail">
            Pour seulement 30€ par mois, votre menu est accessible en ligne. En
            plus, c'est sans engagement et le premier mois est gratuit.
          </p>
        </div>
      </div>
      <div class="etape">
        <img src="assets/qr-code.svg" />
        <div class="etape-texte">
          <span class="etape-titre">Commandez et collez vos QR codes</span>
          <p class="etape-detail">
            On vous livre des QR codes plastifiés à 1€/unité à coller sur vos
            tables pour que vos clients accèdent rapidement à votre menu.
          </p>
        </div>
      </div>
    </div>
    <div class="remerciement">
      <p class="merci-texte">Vos clients vous remercieront</p>
      <img src="assets/merci.svg" />
    </div>
  </div>
</div>
